@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto+Slab:wght@300;400&family=Roboto:wght@300&display=swap');

body{ max-width: 1440px; margin: 0 auto;}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

p {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin read-more {
  background-color: #3F4759;
  text-transform: uppercase;
  border: none;
  padding: 1em 2.5em;
  font-size: 14px;
  font-weight: bold;
  color: white;
  letter-spacing: .1rem;
  margin: 1.5em 0;
  font-family: 'Open Sans', sans-serif;

  &:hover {
    background-color: lighten($color: #3F4759, $amount: 2);
  }
}

.read-more{@include read-more();}
.hero {
  background: url(../images/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;

  #hero-content {
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    color: white;

    h1 {
      font-size: 3rem;
    }

    p {
      margin-top: 1em;
      font-size: 24px;
    }
  }
}

.about-us {
  padding: 2em 4em;
  margin-bottom: -22em;

  #head {
    text-align: center;
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 1em;
    position: relative;

    h1 {
      padding: .5em;
    }

    h1::before {
      content: "";
      display: table;
      border: 1px solid #3F4759;
      width: 10%;
      position: absolute;
      top: -50px;
      left: 45%;
      transform: rotate(-90deg);
    }
  }

  .text-container {

    display: grid;
    grid-template-columns: 1fr;
    font-size: 18px;
    text-align: left;
    grid-gap: 50px;
    color: #3F4759;
    line-height: 1.5rem;
  }
}

.expedition {
  background: url(../images/background-hills.png);
  background-position: center;
  background-size: 300%;
  background-repeat: no-repeat;
  height: 1200px;


  #expedition-content {
    height: 100%;
    padding: 2em;
    padding-top: 28em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    #white-logo {
      width: 150px;
      height: 150px;
    }

    h2 {
      text-align: center;
      font-size: 48px;
    }

    p {
      font-weight: 500;
      text-align: center;
    }

  }



}

.floaters {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  justify-content: center;
  background: url(../images/background-valley.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 3em;
  margin-bottom: 5em;

  .one {
    margin-top: -5em;
  }

  .three {

    .floater-content {
      color: black;
    }
  }

  .floater {
    margin-bottom: 4em;

  }

  .floater-img {
    width: 100%;
    height: 400px;
    margin-bottom: 1em;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .floater-content {
    color: white;

    h1 {
      font-size: 32px;
      margin-bottom: .5em;
    }
  }




}

.our-leaders {
  background: url(../images/snow-mountains.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #E2E2E2;
  :nth-child(1) {
    margin-top: -4em;
  }

  .img-box {
    padding: 1em 4em;
    max-width: 500px;
    height: 500px;
    margin: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  #leaders-content {
    padding: 4em;
    margin-top: 5em;

    #leaders-text-content {
      background-color: rgba(56, 60, 95, 0.507);
      background-blend-mode: color-burn;
      color: white;
      text-align: center;

      h1 {
        padding: .5em 1em;
        font-size: 44px;
      }

      p {
        padding: 1em;
        font-size: 18px;
      }
    }
  }
}

.photos {
  #grid-container {
    display: grid;
    grid-template-columns: 1fr;

    #bg-img1 {
      min-height: 400px;
      width: 100%;
      background: url(../images/snow-hill.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #bg-img2 {
      min-height: 400px;
      width: 100%;

      background: url(../images/cloudy-mountains.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #bg-img3 {
      min-height: 400px;
      width: 100%;
      background: url(../images/rock-climbing.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #bg-img4 {
      min-height: 400px;
      width: 100%;
      background: url(../images/valley.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.contact-us {
  background: url(../images/footer-hills.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  
  h1{
    margin: 2em auto;
    font-size: 4.5rem;
    color: white;
    
  }
  #contact-container {
    padding: 0 3em;
    color: white;
    #contact-content{
      font-size: 18px;
      margin-bottom: 1em;
    }
    #address{
      font-size: 18px;
      line-height: 2rem;
    }
  }
  form{
    padding: 3em;
    width: 100%;
    button{@include read-more();}
    input{
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      padding-left: 1em;
      font-size: 18px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: #3F4759;
    }
    textarea{
      width: 100%;
      padding: 1em;
      font-size: 18px;
      box-sizing: border-box;
      &::placeholder{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: #3F4759;
      text-transform: capitalize;
      }
    }
  }
}
footer{
  text-align: center;
  background-color: rgba(56, 60, 95, 0.507);
  p{
    margin-top: 2em;
    padding: 2em;
    color: white;
  }
}



@media (min-width: 768px){

  .hero{
    #hero-content{
      h1{
        font-size: 68px;
      }
    }
  }
  
  .about-us{
    .text-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  .expedition {
    #expedition-content{
      width: 80%;
      margin: 0 auto;
    }
  }
  .floaters{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    background-size: 150vw;
    margin-bottom: 4em;
    .three{
      margin-top: -5em;.floater-content {
        color: white;
      }
    }
  }
  .our-leaders{
    .img-boxes{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    .img-box {
      margin: auto;
      padding: 1em;
      
      img {
        
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .photos {
    #grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .contact-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1{
      grid-column: 1 / 3;
      margin-bottom: 0;
    }
    #contact-container{
      padding: 2em;
      margin-top: 0;
      margin-bottom: 3em;
    }  
    form{
      padding: 2em;
      margin-bottom: 3em;
    }
  }
}
@media (min-width: 1024px){
  .expedition{
    background-size: 100vw;
  }
  .floaters{
    margin-top: -9em;
  }
  .our-leaders{
    #leaders-content{
      width: 80%;
      margin: auto;
      margin-top: 5em;
    }
  }
}
@media (min-width: 1080px){
  .hero{
    #hero-content{
      width: 80%;
      h1{
        font-size: 84px;
      }
    }
  }
  .expedition{
    #expedition-content{
      width: 80%;
      p{
        font-size: 22px;
        margin-top: 1em;
      }
    }
  }
  .photos #grid-container{
    grid-template-columns: repeat(4, 1fr);
  }
  .contact-us{
    padding-bottom: 10em;
    height: 120vh;
    #contact-container{
      
      margin-bottom: 5em;
    }
  }
}